:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-darkGreen: rgba(11, 64, 33, 1);
  --color-offWhite: rgba(253, 245, 234, 1);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: clip;
  background: var(--color-darkGreen);
}

.top-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.top-layer svg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; */
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

.img-container {
  max-width: 1200px;
  aspect-ratio: 1200 / 718;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.img-box {
  width: 100%;
  border-radius: 10px 10px 10px 114px;
  box-shadow: 0 0 39px 0px rgba(11, 64, 33, 0.31);
  position: absolute;
  z-index: 2;
  /* opacity: 0;
  visibility: hidden; */
}

.logo-fill {
  background: var(--color-offWhite);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container p:first-of-type {
  padding-top: 100px;
}

/* .text-group {
  position: absolute;
  z-index: 2;
  margin-left: -50px;
  margin-top: -60px;
} */

h1.text-filled,
.text-outline {
  font-size: 120px;
  font-family: sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  text-transform: uppercase;
  line-height: 0.9;
  z-index: 1;
  position: absolute;
  top: -60px;
  left: -50px;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-color: #fff;
  z-index: 3;
}